.bg-gradient {
  background-image: url('./assets/backgrounds/black-gradient.svg');
  background-size: cover;
  background-position: center;
}
.bg-gradient-long {
  background-image: url('./assets/backgrounds/gradient-long.png');
  background-size: cover;
  background-position: center;
}
.bg-landing-page {
  background-image: url('https://res.cloudinary.com/practice-jay-cloud/image/upload/v1705718334/ysd/f6ftgo4wuppvscu85jcu.png');
  background-size: cover;
  background-position: center;
}
.bg-form-page {
  background-image: url('https://res.cloudinary.com/practice-jay-cloud/image/upload/v1705981575/ysd/k7ddvxpqm4k3aq6q7yoh.png');
  background-size: cover;
  background-position: center;
}

.bg-landing-page-black {
  background-image: url('https://res.cloudinary.com/practice-jay-cloud/image/upload/v1705718331/ysd/ntuc7io6gm5o67f7aqzu.png');
  background-size: cover;
  background-position: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden {
  display: none;
}

/* slider CSS code */
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 20px;
  align-items: center;
  width: calc(250px * 14);
}

/* .slider .slide {
  height: 100px;
  width: 250px;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

/* animation  */
.container-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.animated-div {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 0.5s ease;
}

.slide-up {
  opacity: 1;
  transform: translateY(0);
}

.join-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
