.bg-gradient {
  background-image: url('./assets/backgrounds/black-gradient.svg');
  background-size: cover;
  background-position: center;
}
.bg-gradient-long {
  background-image: url('./assets/backgrounds/gradient-long.png');
  background-size: cover;
  background-position: center;
}

/* slider CSS code */
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  gap: 20px;
  align-items: center;
  width: calc(250px * 14);
}

/* .slider .slide {
  height: 100px;
  width: 250px;
} */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
